*{
    margin: 0%;
    padding: 0%;
}

body{
    margin:0;
    padding: 0;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}





section {
    position: absolute;
    top:120px;
    left: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url('controles.png');
    background-repeat: no-repeat;
    width: 700px;
    height: 700px;
    
    
}
button {
    padding: 15px 25px; 
    font-size: 24px;
    cursor: pointer;
}

.text {
    position: absolute;
    text-align: center;
    right: 8%;
    top: 200px;
    color:white;
    font-size: 26px;
    text-shadow: 6px 6px 16px black;
   

}

.botonl{
    position: absolute;
    width: 45%;
    left: 1px;
}

.botonr{
    position: absolute;
    width: 45%;
    right: 1px;
}

.instrucciones, .controles{
    background-color: rgba(0,0,0,0.6);
}



